.footer {
    height: 6em;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}